@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');
/* shared style start here */
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: rgb(255, 255, 255);
   
  }

*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.bg_clr_1{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.container{
    width: 80%;
    margin:0 auto ;

   
}

.spn{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
   font-weight: 900;
   font-style: normal;
}

.btn_cmn{
    padding: 10px 40px ;
    border-radius:42px;
    -webkit-border-radius:42px;
    -moz-border-radius:42px;
    -ms-border-radius:42px;
    -o-border-radius:42px;
}
.cmn_title h2{
    font-size: 3rem;
    font-weight: 900;
}
.cmn_title h1{
    font-size: 3rem;
    font-weight: 900;
}
.cmn_title p{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

/* shared style end here */


/* nav part start here */

.nav_bar{
    padding-top: 20px ;
    display: flex;
    justify-content: space-between;
    
}
.nav_logo h2{
    color: rgb(230, 83, 60);
    font-size: 50px;
    font-weight: 800;
}
.nav{
    display: flex;
    align-items: center;
}
.nav ul{
    display: flex;
    padding: 10px 0px;
    border-radius: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}
.nav ul li {
   
    margin:0 10px ;
    
}
.nav ul li a {
    padding: 10px 20px;
    color: rgb(255, 255, 255);
   
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.menu{
    background-color: rgb(230, 83, 60);
   
}
.burga{
    display: none;
}

/* nav part end here */

/* banner part start here */

.banner_container{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    
    margin-top: 95px;
}
.banner_left{
    padding-top: 20px;
}
.banner_left h1{
    font-size: 4rem;
    font-weight: 900; 
  
}
.banner_left p{
    margin: 25px 0;
    color: rgba(255, 255, 255, 0.5);
  
}
.banner_right{
  position: relative;
  text-align: center;
  
}
.pos_free {
    position: absolute;
    top: 125px;
    right: 56px;
    border-radius: 10px;
    width: 150px;
    height: 70px;
    padding: 10px 10px 0 10px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.pos_free p{
    font-size: 10px;
}
.pos_free h3{
    font-size: 40px;
    font-weight: 900;
}
.pos_tutorial {
    position: absolute;
    bottom: 70px;
    left: -50px;
    border-radius: 20px;
    width: 200px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
button{
    border: none;
    margin-right: 5px;
}
button:first-child{
    background-color: rgb(230, 83, 60);
}


/* banner part here here */

/* habit part start here */

.change_habit_container,
.team_container{
   display: flex;
   justify-content: center;
   text-align: center;
}
.change_habit_title,
.team_title{
    margin-top: 20px;
}

.change_habit_items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
}
.habit_item{
    text-align: center;
}
.habit_item img{
    width: 200px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.habit_item h4{
    font-size: 18px;
    font-weight: 600; 
    margin-top: 20px;
    margin-bottom: 5px;
}
.habit_item p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400; 
}


/* habit part end here */
/* run extra part start here */

.run_extra_container{
    margin-top: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(34, 34, 34);
   
}
.run_extra_left{
    padding: 40px 55px;
    
}
.run_extra_left button{
    color: white;
    background-color: rgb(230, 83, 60);
    padding: 15px 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.run_extra_right{
   padding: 50px; 
}
.run_extra_right img{
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/* run extra part end here */

/* team part start here  */
.team_items{
    margin: 50px 0;
    background-color:rgba(255, 255, 255, 0.1) ;
   padding: 20px;
}
.item_row1,
.item_row2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 30px;
    
}
.item_row1{
    margin-bottom: 30px;
}
.tainer_img{
    position: relative;
}
.tainer_img img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.item_title {
    position: absolute;
    bottom: 20px;
    left: 25px;
}
.item_title h2{
   font-size: 1.5rem;
   font-weight: 800;
}
.item_title p{
    color:rgba(255, 255, 255, 0.5);
}

/* team part end here  */
/* footer part start here */
.footer{
    background-color:rgba(255, 255, 255, 0.1) ;
}
.footer_container{
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    border-bottom: 1px solid rgb(138, 135, 135);
}
.foot_left h2{
    color: rgb(230, 83, 60);
    font-size: 50px;
    font-weight: 800;
}
.foot_left p{
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.foot_text{
    margin-left: 60px;
}
.foot_text h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
}
.foot_text li{
    margin: 20px 0;
}
.foot_text a{

    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
}
.foot_copy{
    text-align: center;
    padding: 20px 0;
}
.foot_copy p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;  
}


/* footer part end here */



/* reponsive part here */

@media screen and (max-width: 576px) {
   .nav ul{
    display: none;
   }
   .burga{
    display: block;
    width: 50px;
    height: 50px;
   }
   .burga > img {
    width: 50px;
    height: 50px;
    
  }
  .btn_cmn {
    padding: 15px 20px;
    border-radius: 42px;
   }
   
  .banner_container{
        grid-template-columns: repeat(1,1fr);
    }
  .pos_free{
    top: 60px;
    right: 10px;
  }
  .pos_tutorial {
    bottom: 250px;
    left: -30px;
}
.change_habit_items{
    grid-template-columns: repeat(1,1fr);
}
.run_extra_container{
    height: 100%;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(1,1fr);
}
.run_extra_left{
    padding: 20px;
}
.run_extra_right{
    padding: 20px;
}
.item_row1,
.item_row2{
     grid-template-columns: repeat(1,1fr);
    
}
.footer_container{
    grid-template-columns: repeat(1,1fr);
}
.foot_text{
    margin-left:0px;
}
}